#wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}
h2 {
    color: #5b6ceb;
    font-family: "Open Sans";
    font-weight: 700;
    line-height: 45px;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
}
#header {
    background: white;
}
#header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    padding: 16px 0 16px 9%;
}
/* скрываем чекбокс */
#menu__toggle {
    opacity: 0;
    position: absolute;
} 
  /* стилизуем кнопку */
.menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center;  /* центрируем содержимое кнопки */
    position: relative;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
    margin: 5px 20px 5px auto;
} 
  /* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #5363db;
}
.menu__btn > span::before {
    content: '';
    top: -8px;
}
.menu__btn > span::after {
    content: '';
    top: 8px;
}
  /* контейнер меню */
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: -80px;
    right: 0;
    width: 100%;
    margin: 0;
    list-style: none;
    text-align: center;
    background-color: white;
} 
.menu__box a {
    font-weight: 600;
    display: inline-block;
    color: black;
    text-decoration:none;
    cursor: pointer;
    position: relative;
    font-size: 12px;
    font-family: Open Sans;
}
.menu__box a:hover {
    color: #5363db;
    background: white;
}
.menu__box a:after {
    position: absolute;
    left: 35%;
    bottom: 4px;
    background-color: #5363db;
    display: block;
    content: "";
    height: 1px;
    width: 0%;
}
.menu__box a:hover:after,
.menu__box a:focus:after {
    width: 30%;
}
  /* элементы меню */
.menu__item {
    display: block;
    color: #333;
    font-family: Open Sans, sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    padding: 8px 17px;
}
.menu__item:hover {
    background-color: #CFD8DC;
}
#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}  
#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
} 
#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}  
#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    transition: 1s all;
    transform: translateY(100%);
}   
#main {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}
.section-1 {
    display: flex;
    width: 100%;
    height: 700px;
}
.container1 {
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url(../images/bg-01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.overlay {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(83, 99, 219, 0.8);
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.box-1 {
    background: white;
    width: 300px;
    height: 391px;
    border-radius: 15px;
   
}
.box-2 {
    max-width: 300px;
}
.box-2 h1 {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 30px;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    margin: 0;
    text-align: center;  
}
.box-2 h1 + P {
    color: #ffffff;
    font-family: "Freestyle Script";
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    
}
.form {
    padding: 20px 30px 0;
}
.trial {
    align-items: baseline;
    display: flex;
}
.option {
    margin: 0 ;
    overflow: hidden;
}
.input-name,
.input-tel {
    background-color: #f2f2f2;
    font-family: "Open Sans";
    font-size: 14px;
    border: 1px solid #f2f2f2;
    color: #888888;
    width: 230px;
    height: 50px;
    border-radius: 4px;
}
.input-name {
    margin-top: 20px;
}
select {
    background-color: #f2f2f2;
    font-family: "Open Sans";
    font-size: 14px;
    border: 1px solid #f2f2f2;
    color: #888888;
    width: 236px;
    height: 50px;
    border-radius: 4px;
}
.btn {
    margin: 23px 0 35px 70px;
}
.btn button {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 700;
    width: 170px;
    height: 50px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    background-color: #5b6ceb;
    border-radius: 4px;
    border: none;
}
button:hover {
    opacity: 0.75;
    cursor: pointer;
}
.section-2 {
    max-width: 1200px;
    display: flex;
    height: 100%;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.yoga h2 + p {
    color: #777777;
    font-family: "Freestyle Script";
    font-size: 41px;
    font-weight: 400;
    line-height: 61.49px;
    text-align: center;
    margin-bottom: 20px;
}
.yoga {
    display: flex;
    width: 100%;
    margin: 125px 0 74px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.section2 {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    height: 100%;
}
.container2 {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    flex-direction: column;
}
.block2-1,
.block2-2 {
    margin-left: -7px;
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100%;
}
.content2-1,
.content2-2 {
    flex-direction: column;
    margin-top: 0;
    display: flex;
    width: 100%;
    height: 100%;
}
.card2-1,
.card2-2 {
    margin-top: 50px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50%;
    min-height: 100%;
}
.card2-1 {
    margin-right: 0;
}
.box2-1 {
    display: flex;
    height: 100%;
    padding: 2px 10px;
    flex-direction: column;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}
.box2-2 {
    display: flex;
    height: 100%;
    padding: 2px 10px;
    flex-direction: column;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}
.box11 {
    background-image: url(../images/img-01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 80%;
    display: block;
    min-width: 100%;
}
.box12{
    background-image: url(../images/img-02.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 80%;
    display: block;
    min-width: 100%;
}
.box13{
    background-image: url(../images/img-03.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 80%;
    display: block;
    min-width: 100%;
}
.box14{
    background-image: url(../images/img-04.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 80%;
    display: block;
    min-width: 100%;
}
.box2-1 h3,
.box2-2 h3 {
    margin: 0;
    padding: 50px 0 50px 10px;
}
.box2-1 span,
.box2-2 span {
padding-bottom: 47px;
}
h3 > a {
    color: #777777;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    line-height: 45px;
    text-transform: uppercase;
    text-decoration: none;
}
h3 + p {
    color: #555555;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin: 0;
    padding: 0 10px 18px 10px;
}
 span > a {
    color: #999999;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-decoration: none;
}
.container-2  a:hover {
    text-decoration: underline;
    color: #999999;
}
.section-3 {
    margin-top: 214px;
    display: flex;
    width: 100%;
    margin-bottom: 174px;
}
.container-3 {
    display: flex;
    width: 100%;
    height: 100%;
}
.block-3 {
    display: flex;
    width: 100%;
    height: 100%;
}
.list {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}
.list > li {
    width: 50%;
}
.list a {
    display: block;
    padding-top: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.list a:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    transform: translate(-0%, -50%);
    background-color: #5b6ceb;
    opacity: 0.8;
    transition: all 0.5s;
    
}
.list a:after {
    visibility: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    content: "\e986";
    font-family: 'icomoon';
    font-size: 20px;
    width: 43px;
    height: 42px;
    box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 50%;
    color: #5b6ceb;
    line-height: 40px;
    text-align: center;
}
.list a:hover:before {
    width: 100%;
    height: 100%;
}
.list a:hover:after {
    visibility: visible;
}
.section-4 {
    max-width: 1200px;
    display: flex;
    height: 100%;
    margin: 0 auto;
} 
.container-4 {
    height: 100%;
    margin: 0 0 174px;
    width: 100%;
    display: flex;
    padding: 0 15px;
}
.block-4 {
    margin: 0;
    padding: 0;
    flex-direction: column;
    display: flex;
    width: 1200px;
    max-width: 90vw;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.box4-1 {
    align-items: baseline;
    padding-top: 80px;
    width: 100% ;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.box4-1 h2 + p {
    margin: 0;
    padding: 10px 0 50px;
    color: #555555;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}
.card10 {
    max-width: 590px;
    width: 80vw;
    display: flex;
    height: 100%;
}
.box4-2 {
    width: 50%;
    display: flex;
    height: 100%;
}
.img4 {
    width: 100%;
}
.section-5 {
    width: 100%;
    height: 100%;
    display: flex;
}
.container-5 {
    width: 100%;
    height: 100%;
    display: flex;
    background-image: url(../images/bg-02.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.overlay-2 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(83, 99, 219, 0.8);
}
.block5-1 {
    flex-wrap: wrap;
    margin: 125px 15px 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.img {
    border: 1px solid #ffffff;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box5 {
    margin-top: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box5 h3 {
    padding: 34px 0 25px;
    margin: 0;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    text-transform: uppercase;
    text-align: center;
}
.box5 h3 + p {
    text-align: center;
    padding: 0 35px;
    margin: 0;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}
.block5-2 {
    flex-wrap: wrap;
    margin: 59px 15px 136px;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.section-6 {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    height: 100%;
    background-image: url(../images/bg-03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
}
.container-6 {
    width: 100%;
    height: 100%;
    display: flex;
}
.block-6 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 100px 0 106px;
}
.block6-1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 100px 0 106px;
}
.box6-1 {
    width: 80%;
    display: flex;
    margin: 15px 0;
    margin-left: -20px;
}
.form6-1 {
    border: 1px solid transparent;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
}
.form-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5b6ceb;
    text-align: center;
    padding: 20px 0;
} 
.form-title span {
    margin: 0 20px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}
.form-title span + .h1 {
    margin: 0;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 67px;
    font-weight: 700;
    line-height: 75.77px;
    text-transform: uppercase;
}
.form-title span + .h1 + p {
    margin-bottom: -30px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}
.form-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 6px 6px 50px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}
.main-form {
    margin: 50px 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-name {
    color: #555555;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}
.form-group {
    color: #555555;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
}
.form-label {
    color: #555555;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    display: flex;
}
.form-input {
    margin-bottom: 20px;
    margin-left: 30%;
    width: 30%;
    border: none;
    border-bottom: 1px solid #555555;
}
.form-input input {
    padding-left: 40px;
}
.last-form {
    color: #555555;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    display: flex;
    width: 100%;
}
.form-btn button {
    margin: 0 90px 51px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 700;
    width: 170px;
    height: 50px;
    background-color: #5b6ceb;
    border-radius: 10px;
    border: none;
}
button a {
    text-decoration: none;
    color: #ffffff;
}
#footer {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.container-7 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #5b6ceb;
}
.block-7 {
    flex-direction: column;
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0 5%;
    align-items: flex-start;
    justify-content: center;
}
.box7-1 {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.content-7 {
    flex-direction: column;
    display: flex;
    width: 100%;
    height: 100%;
}
.card7-1 {
    flex-direction: column;
    width: 50%;
    display: flex;
    height: 100%;
}
.card7-2 {
    flex-direction: column;
    width: 50%;
    display: flex;
    height: 100%;
    padding-left: 30px;
}
.icons {
    justify-content: space-between;
    display: flex;
    width: 133px;
    height: 100%;
    margin: 0 5%;
}
.box7-1  h3 {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    margin: 0;
    padding-top: 20px;
}
.box7-1  h3 + p {
    width: 70%;
    margin: 0;
    padding: 60px 10px 0 0;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}
.card7-1 address  a,
.card7-1 a,
.card7-2 span a {
    text-decoration: none;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}
.addres,
.phone,
.email,
.www {
    position: relative;
}
.addres {
    padding: 20px 0 0 30px;
}
.phone {
    padding: 30px 0 0 30px;
}
.email {
    padding-top: 30px;
}
.www {
    padding-top: 30px;
}
.addres:before {
    content: "\e900";
    position: absolute;
    top: 20px;
    left: 0;
    width: 40px;
    height: 40px;
    font-family: 'icomoon';
    font-size: 20px;
    line-height: 40px;
    color: #ffffff;
}
.phone:before {
    content: "\e942";
    position: absolute;
    top: 30px;
    left: 0;
    width: 40px;
    height: 40px;
    font-family: 'icomoon';
    font-size: 20px;
    line-height: 40px;
    color: #ffffff;
}
.email:before {
    content: "\e945";
    position: absolute;
    top: 22px;
    left: -30px;
    width: 40px;
    height: 40px;
    font-family: 'icomoon';
    font-size: 20px;
    line-height: 40px;
    color: #ffffff;
}
.www:before {
    content: "\e949";
    position: absolute;
    top: 25px;
    left: -30px;
    width: 40px;
    height: 40px;
    font-family: 'icomoon';
    font-size: 20px;
    line-height: 40px;
    color: #ffffff;
}
.icons  span {
    color: #ffffff;
    padding: 20px 0;
}
.footer-container {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #5363d8;
}
.footer-last {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-last p {
    color: #b7bffc;
    font-family: "Myriad Pro";
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}



@media (min-width: 571px) {
    .box-1 {
        margin-left: 0;
    }
    .content2-1,
    .content2-2 {
        flex-direction: row;
    }
    .block2-1,
    .block2-2 {
        margin-left: 0;
    }
    .card2-1,
    .card2-2 {
        margin-top: 50px;
    }
    .card2-1 {
        margin-right: 15px;
    }
    .box-2 {
        max-width: 400px; 
    }
    .box5 {
        width: 50%;
    }
    .form-title {
        padding: 20px 90px;
    }
    .box6-1 {
        width: 60%;
        margin: 15px;
    }
    .content-7 {
        flex-direction: row;
    }
    .card7-2 {
        padding-left: 0;
    }
}

@media (min-width: 769px) {
    #header .container {
        margin: 0 5%;
    }
    .menu__btn {
        display: none;
    }
    .menu__box {
        position: static;
        visibility: visible;
        width: auto;
        height: auto;
        padding: 5px 3px 0 0;
        background: transparent;
        display: flex;
        justify-content: flex-end;
    }
    .menu__box a {
        font-size: 14px;
    }
    .menu__box a:after {
        bottom: 9px;
    }
    .menu__item {
        padding: 12px 13px;
    }
    .section-1 {
        height: 600px;
    }
    .overlay {
        flex-direction: row;
    }
    .box-1{
        margin: 0 91px 0 15%; 
    }
    .box-2 {
        max-width: 495px; 
    }
    .box-2 h1 {
        font-size: 48px;
        line-height: 72px;
        text-align: start;
    }
    .box-2 h1 + P {
        font-size: 40px;
        text-align: start;
    }
    .content2-2 {
        margin-top: 25px;
    }
    .card2-1,
    .card2-2 {
        margin-top: 0;
        flex-direction: row;
    }
    .card2-1 {
        margin-right: 30px;
    }
    .box11,
    .box12,
    .box13,
    .box14 {
        min-width: 50%;
        min-height: 100%;
        padding-top: 1px;
    }
    .list > li {
        width: 25%;
    }
    .block-4 {
        flex-direction: row;
    }
    .box4-1 {
        width: 50%;
        height: 100%;
    }
    .card10 {
        max-width: 50%;
        height: 100%;
    }
    .box4-2 {
        max-width: 100%;
        height: 100%;
    }
    .box4-1 h2 + p {
        padding: 50px 143px 100px 0;
    }
    .box5 {
        width: 25%;
        margin-top: 0;
    }
    .box6-1 {
        width: 35%;
    }
    .block-7 {
        padding-top: 100px;
        flex-direction: row;
        align-items: center;
    }
    .box7-1 {
        width: 50%;
    }
    .box7-1  h3 {
        padding-top: 20px;
    }
    .addres {
        padding: 61px 0 0 0;
    }
    .addres:before {
        top: 66px;
        left: -30px;
    }
    .phone {
        padding: 30px 0 0 0;
    }
    .phone:before {
        left: -30px;
    }
    .email {
        padding-top: 61px;
    }
    .email:before {
        top: 55px;
    }
    .icons span {
        padding: 71px 0 104px;
    }
}

@media (min-width: 993px) {
    .box6-1 {
        width: 30%;
    }
}